@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0B0A0F;
}

.calculator {
  margin: 100px;
  padding: 30px;
  width: 300px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: #072026;

  border: 5px solid #000000;
  border-radius: 10px;
}

.author {
  color: #FFFFFF;

  font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-size: 20px;
  
  margin-left: auto;
}

.display {
  width: 100%;
  height: 50px;

  background-color: #1C8F6E;

  border: 2px solid #000000;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display .text{
  margin-left: auto;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.buttons button {
  width: 50px;
  height: 50px;

  background-color: #FFFFFF;

  border: 2px solid #000000;
  border-radius: 5px;

  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.buttons button:hover {
  background-color: #D1D1D1;
}

.buttons button:active {
  border: 2px solid #FFFFFF;
}

.buttons .clear {
  background-color: #FD4659;
}

.buttons .clear:hover {
  background-color: #EB2338;
}

.buttons .evaluate {
  margin-left: auto;
  flex: 0 1 110px;
}
